## Python String Manipulation

1. Count the number of times iNeuron appears in the string.

In [1]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

In [4]:
text.count("iNeuron")

3

2.Check if position 5 to 11 ends with the phrase iNeuron. in the string

In [22]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
txt.endswith("iNeuron.")              ## name.endswith - Returns true if the string ends with the specified value

True

In [23]:
name = "devadarshan bhadra"
name.split(" ")

['devadarshan', 'bhadra']

3.Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [29]:
name = "Sunny Bhaveen Chandra"
first_name, middle_name, sir_name = name.split(" ")
print(f"{first_name[0]}.{ middle_name[0]}.{sir_name[::]}")

S.B.Chandra

4.Join all items in a list into a string, using a hash(#) character as separator:

In [30]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
"#".join(LIST)

'My#name#is#Rishav#Dash'

5.Write example for the following string manipulation function,

- isdecimal()
- islower()
- isupper()
- isalpha()
- isnumeric()

In [43]:
txt = "2047899"
txt.isdecimal()

True

In [44]:
name ="devadarshan.bhadra"
name.islower()

True

In [46]:
name ="DEVADARSHAN.BHADRA"
name.isupper()

True

In [48]:
name = "ht1238110700west"   
name.isalnum()               # check for alphabets & numerics

True

In [50]:
name = "eastwestnorthsouth"   
name.isalpha()                # check for alphabets

True

In [52]:
name = "7702096480"
name.isnumeric()              # check for numerics

True

6.Indian PAN card format follows the following formats -

AYEPC7894X

ABCDE9999Y Take user input for PAN_CARD and validate as per the above example.

In [58]:
pan_number = input("enter your pan_number: ")

if pan_number[0:5].isupper() and pan_number[6:9].isdigit() and len(pan_number) == 10:
  print(f"User pan_number: correct ")
else:
  print(f"pan_number entered is wrong please enter again: ")

enter your pan_number: CCKPB7906A
User pan_number: correct